[user]
	name = Julien Mourer
	email = getkey@getkey.eu

[core]
	excludesfile = ~/.gitignore

[push]
	default = simple

[pull]
	ff = only

[diff]
	tool = meld
	compactionHeuristic = true

[alias]
	l = log --pretty=format:\"%C(yellow)%h %Cblue%ad %Creset%s%d %Cgreen%aN\" --graph --date=short
	nb = checkout -b
	db = branch -D
	co = commit
	ch = checkout
	branch-name = rev-parse --abbrev-ref HEAD
	pu = !"git push --set-upstream origin $(git branch-name)"

[credential "https://github.com"]
	username = getkey

[url "git@gitlab.com:"]
	insteadOf = https://gitlab.com/
