[user]
	name = Julien Mourer
	email = getkey@getkey.eu

[core]
	editor = vim
	excludesfile = ~/.gitignore

[push]
	default = simple

[diff]
	tool = meld
	compactionHeuristic = true

[credential "https://github.com"]
	username = getkey

[url "git@gitlab.com:"]
	insteadOf = https://gitlab.com/
	pager = true
