[Unit]
Description=Shuts the computer down to force me to go to bed

[Timer]
OnCalendar=Sun,Mon-Thu *-*-* 23:00:00
Unit=go-to-bed.service

[Install]
WantedBy=timers.target
